
:root {
    --cinza : #D3D3D3 ;
    --cinzaBackground: rgb(211,211,211, 0.25);
    --cinzaBackgroundContainerTasks: rgb(163,163,163, 0.30);
    --cinzaEscuro: #A3A3A3 ;
    --vermelho: #EC221F ;
    --vermelhorButtonDelet: rgb(236,34,31, 1);
    --azulEscuro: #0003FF;
    --azulEscuroButtonEdit: rgb(0,3,255, 0.75);
    --preto : #000;
    --branco: #fff;
}

body { 
	background-color: var(--cinzaBackground);
	box-sizing: border-box;
}
/* Estrutura header page */
.div_header {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin: 6% 10%;
    padding-top: 4.8rem;
}

.div_header h1{
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    padding-bottom: 1.4rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.div_header p{
    text-align: center;
    line-height: 1.2;
    letter-spacing: 0.4px;
    font-size: 16px;
    font-weight: 500;
    margin: 2% 2%;
    text-transform: uppercase;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/* Estrutura centralizando img */

.div_mid {
    display: flex;
    justify-content: center;
    margin: 6% 6%;
    padding-top: 2.8rem;
}

.div_mid img {
    width: 100%;
    height: auto;
}


/*Centralizando Button no Footer */
.footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.footer button {
    width: 100%;
    padding: 3% 2%;
    margin: 16% 8%;
    background: var(--preto);
    font-size: 16px;
    font-weight: bold;
    transition: 0.4s ease-out;
    border-radius: 8px;
}

.footer button a{
    transition: 0.4s ease-out;
    text-decoration: none;
    color: var(--branco);
}

.footer button a:hover{
    transition: 0.4s ease-out;
    text-decoration: none;
    color: var(--preto);
}

.footer button:hover {
    background: var(--branco);
    border: 2px solid var(--preto);
}

/**\ INICIANDO Cascate Style Sheet (folha de Estilo) DE OUTRA PAGE/**\ 
/**\ CONTEUDO DA PG "HomeHere"/**/

/* conteudo do header ICONE */
.header_home {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    padding: 2% 0;
    background-color: var(--branco);
    min-height: 85px;
    border-bottom: 1px solid var(--preto);
}

.header_home .header_home--link{
    padding: 0 4%;
    width: auto;  
    height: auto;       
    border: 1px solid var(--cinzaEscuro);
    background-color: var(--preto);
    border-radius: 50%;  
}

.header_home svg{
    margin-top: 2px;
    width: 34px;
    height: auto;
    color: white;
}

/* Conteudo do header HREF(BTN-Tasks) */

.header_home .div_buttonHeader li {
    position: relative;
    display: inline-block;
    list-style: none;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header_home .div_buttonHeader li::before {
    content: "";
    position: absolute;
    bottom: -4px; /* Coloca a linha 4px abaixo do botão */
    left: 0%;
    width: 0;
    height: 2px;
    background-color: var(--cinzaEscuro);
    transform: translateX(-0%); /* Posiciona no centro */
    transition: width .2s ease-out, left .2s ease-out;
}

.header_home .div_buttonHeader li:hover::before {
    width: 100%;
    left: 0%;
}

/* Estilizando os container de "Tasks" */
.container_Task {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-top: 25%;
    margin-bottom: -15%;
    background-color: var(--cinzaBackgroundContainerTasks);
    border: 0.4px solid var(--preto);
    min-height: 85px;
    border-radius: 8px;
}

.container_Task span{
    margin-left: 0.6rem;
    font-size: 18px;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

/* estilos dos botoes "edit" e "delete" */
.edit-button {
    margin-right: 0.3rem;
    min-width: 65px;
    min-height: 40px;
    background-color: var(--azulEscuroButtonEdit);
    color: var(--branco);
    font-weight: bold;
    border: none;
    border-radius: 4px;
}

.delet-button {
    margin-right: 0.4rem;
    min-width: 70px;
    min-height: 40px;
    background-color: var(--vermelhorButtonDelet);
    color: var(--branco);
    font-weight: bold;
    border: none;
    border-radius: 4px;
}



/* Estilos para o FORM */

.sidebar {
    height: 80%;
    width: 0;
    position: fixed;
    top: 110px;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    border-radius: 55px 55px 0 0px;
}

.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    background-color: var(--cinzaBackgroundContainerTasks);
}

